body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 11%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  justify-content: center;
}

button {
  background-color: blueviolet;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 7%;
  justify-content: center;
}

button:hover {
  opacity: 0.8;
  width: 7%;
}

h2{
  text-align: center;
}
div{
  text-align: center;
}
body{
    background-image: url(https://images.unsplash.com/photo-1581650107963-3e8c1f48241b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}